language: julia

os:
  - linux

julia:
  - 1.3

notifications:
  email: false

after_success: skip

jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
        - MAKEDOCS=1 julia --project=docs/ docs/make.jl
      after_success: skip

